body{
	background-color: black;

}

#grid{
	display: grid;
	grid-template-columns: repeat(6,150px);
}

#grid7{
	grid-column-start: 4;
	border: 1px solid black;
	position: relative;
	transition: all 1s;
	opacity: 0;
	font-weight: bold;
	margin-left: 25px;
	font-family: arial;
	border: 1px solid white;
	border-radius: 30px;
	padding: 10px;
}

#grid8{
	grid-column-start: 4;
	grid-row-start: 4;
	border: 1px solid black;
	position: relative;
	transition: all 1s;
	opacity: 0;
	font-weight: bold;
	margin-left: 25px;
	margin-top: 20px;
	font-family: arial;
	border: 1px solid white;
	border-radius: 30px;
	padding: 10px;
}

.map{
	position: relative;
	transition: all 0.5s;
	height: 150px;
	width: 150px;
	border: 1px solid black;
	background-size: 100%;
	margin: auto;
	opacity: 0;
}

